<ion-view view-title="Passwords" hide-nav-bar="false">
  <ion-header-bar class="bar-stable bar bar-header">
    <div class="buttons buttons-left header-item">
      <span class="left-buttons">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </span>
    </div>
    <!-- <div class="title title-center header-item" style="font-weight:400!important;color:#151515!important;"> -->
    <div class="title title-center header-item">
    <!-- <div class="title title-center header-item" style="color: #FBD14B!important;"> -->
      Passwords
    </div>
    <div class="buttons buttons-right header-item">
      <span class="right-buttons">
        <button class="button button-icon button-clear ion-eye rekeningen"></button>
      </span>
    </div>
  </ion-header-bar>
  <ion-content>

    <div class="height:100%;">

      <div class="password" ng-repeat="password in passwords" ng-click="open($index)">
        <div class="icon">
          <img ng-src="{{password.image}}" width="30" style="border-radius: 3px"/>
        </div>
        <div class="pass_info">
          <div class="service">{{password.service}}</div>
          <div>{{password.username}}</div>
          <div ng-show="password.open">{{password.password}}</div>
        </div>
      </div>

    </div>

    <div class="password" ng-click="add()">
    <!-- lukt niet om lijn boven te krijgen -->
    <!-- <div class="password" ng-click="add()" style="border-top:1px solid grey;margin-top:20px;"> -->
      <div class="icon" style="padding-top:10px;margin-top:15px;">
        <img src="https://lh3.googleusercontent.com/oD3K9WThbufGb3i7tX0zkmiB0pXmPkDOLdj_wmWGJHwuMwrGDozWRC-Z5DfUNsg5qjym=w300" width="30" style="border-radius: 3px"/>
      </div>
      <div class="pass_info" style="border-top:1px solid grey;padding-top:10px;margin-top:10px;">
        <div class="service">Add new password</div>
        <div>Username and password</div>
      </div>
    </div>

    <script id="input-modal.html" type="text/ng-template">

        <div class="modal image-modal input_modal">

          <div class="margin-bottom:100px;width:100%;">
            <div class="service" style="float:left;">Add new password</div>
            <div  style="float:right;" ng-click="closeModal()"><span class="ion-close"></span></div>
          </div>

          <div class="password" ng-click="add()" style="border-top:1px solid grey;margin-top:35px;">
            <div class="icon">
              <img src="https://lh3.googleusercontent.com/oD3K9WThbufGb3i7tX0zkmiB0pXmPkDOLdj_wmWGJHwuMwrGDozWRC-Z5DfUNsg5qjym=w300" width="30" style="border-radius: 3px"/>
            </div>
            <div class="pass_info">
              <!-- <div class="service">Put the website here</div> -->
              <div class="head"><input type="text" ng-model="service" placeholder="Put the website here" style="width:100%;"></div>
              <input type="text" ng-model="username" ng-change="check(username)" placeholder="What is your username?" style="width:90%;float:left;">
              <span ng-show="usernameOK" class="ion-checkmark-circled" style="float:right;"></span>
              <input type="text" ng-model="password" ng-change="checkPass(password)" placeholder="What is your password?" style="width:90%;float:left;">
              <span ng-show="passwordOK" class="ion-checkmark-circled" style="float:right;"></span>
              <!-- <div>What is your username?</div>
              <div>What is your password?</div> -->

            </div>

            <div style="margin-left:50px;margin-top:20px;" ng-show="usernameOK && passwordOK">
              <button class="button button-positive" ng-click="save(service,username,password)">Save</button>
            </div>

          </div>

        </div>
    </script>

  </ion-content>
</ion-view>
